{%extends "homepage/layout.html"%}
{%block body%}
{% load static%}
    <link rel="stylesheet" href="{static 'css/style.css'}">
    <div style="background-image: image-set();">
     <h1>Define your future</h1>
    <h2>school of software engineering and artificial intelligence</h2>
   
    <button style="background-color: red;">
        <a href="">build your startup</a>
    </button>
</div>
    <h3> karibu ubunifu</h3>
    <h1>Developing the capacity to innovate </h1>
    <a> we are a premier disruptive school of artificial intelligence ,software
        engineering,data science,robotics and block chain.
        imagine a school where you graduate with your startup business not only worthless certificates,ubunifu 
        was built for those who want to innovate,think diffrently and 
        defy the status quo.
        wea are fun ,incentive and artistic ,obssesed with outcomes and welcoming anyone with a dream.
    </a>
    <button>
        <a href=""> METHODOLOGY AND SUCCESS</a>
    </button>
    <ul>
            <div style="background-color: brown;"> 
                <h2>graduate with your startup  </h2>
                <a> at ubunifu students learn with focus of building 
                    and launching to market their startups at the end of their program.
                    we dont offer job placements
                </a>
            </div>

            <div style="background-color: blue;">
                <h2> learn from top minds</h2>
                <a>our curriculum is delivered by active industry thought leaders
                    such as reinhard &etc. the opportunity to be
                     coached by accomplished engineers is rare
                </a>
            </div>

            <div style="background-color: green;">
                <h2>Project based learning</h2>
                <a> ubunifus unique curriculum is based on he project
                     based learning methodology.students identify that they need to work 
                    and deliver through supported work</a>
            </div>

            <div style="background-color: yellow;">
                <h2>peer learning</h2>
                 <a> learn by doing,learn from each other,always
                    asking why,we constantlyqueation the status quo by
                    challenging ourselves and one another ,
                    we are building a new kind of community.
                 </a>  
            </div>
    </ul>

    <button>
        <a href="https://www.youtube.com/watch?v=lLDiHIGTutA"> <video src="https://www.youtube.com/watch?v=lLDiHIGTutA" </video></a>
    </button>
    <h1> do you think you belong here?</h1>
    <a > over the past years in life have been revolutionising but education is not one of them.
        historicaLLY ,higher education has avoided competitive disruption.at ubunifu our focus is to 
        graduate all students innovation ready ,ready to solve problems creatively.
    </a>

    <ul>
    <button style="background-color: red;"> ENROL TODAY</button>
    <ul>
    <h3>OUR PROGRAMMES</h3>
    <H2>Pathways</H2>
    <ul>
        <img src="img\software devpt.jpg" alt="">
        <h3> software development</h3>
        <a> web dev, mobile app dev ,full stack dev</a>
    </ul>
    <ul>
        <a href="https://ubunifucollege.com/assets/images/update/main4.jpg"></a>
        <h3> machine learning"(AI)</h3>
        <a> machine learning& deep learning</a>
    </ul>
    <ul >
        <a href="https://ubunifucollege.com/assets/images/update/main11.jpg"></a>
        <h3> data science</h3>
        <a>data science</a>
    </ul>
    <div style="background-color: blue; text-decoration-color: white;">
        <h1>how we work</h1>
        <ul style="font-variant-numeric: normal;">
            <h1 style="color: white;">admissions</h1>
            <a style="color: white;">after online appreciation our admissions team will 
                contact you to schedule a 
                personal interview so that we can help you achieve your goals 
            </a>
            <h2 style="color: white;">method of teaching  </h2>
             <a style="color: white;">project based learning to deliver our curriculum
                we identify a unique problem by learning and solving it
            </a>
        </ul>


    </div>
{%endblock%}