

div{ 

    h1{
      color: white;
      text-align: center;
    }
    h2{
      color: rgba(255, 255, 255, 0.795);
    }
    button{
      background-color: red;
      text-align: center;
      color: white;
    
    }}
    h3{
      text-align: center;
      color: red;
    }
    h1{
      color: black;
      text-align: center;
    }
    a{
      color: rgba(0, 0, 0, 0.459);
      text-align: center;
      
    }
    button{
      background-color: blue;
      align-self:center;
    }
    div{
      align-self: center;
    h2{
      color: black;
    }
    a{
      color: white;
    }
    }
    div{
      align-self: center;
    h2{
      color: black;
    }
    a{
      color: white;
      text-align: center;
    }
    }
    div{
      align-self: center;
    h2{
      color: black;
    }
    a{
      color: white;
    }
    }
    div{
      align-self: center;
    h2{
      color: black;
    }
    a{
      color: white;
    }
    }
    h1{
      color: blue;
      align-self: center;
    }
    a{
      color: rgba(0, 0, 0, 0.562);
      text-align: center;
    }
    